{% extends "base.html" %}

{% block title %}Meetings Group Calendar{% endblock %}

{% block content %}
<h3>Welcome to the Meetings Group Calendar!</h3>
<br/>
<p>
  <h4>Instructions:</h4>
  <ul>
    <li><em><strong>Presenter Schedule</strong> is for Rose and Julie to coordinate schedules. (Designed to mimic the current Excel spreadsheets
      and will require Scheduler permissions to edit.)</em><br/>
        - In the future, data would automatically be imported from the MRF database so that the calendar is always in-sync with actual MRF info.<br/>
        - Click on a calendar day to add an event to a presenter's schedule for that particular date.  Once MRF data is automatically populated, this
      would only be used for PTO, office days, and other non-MRF entries.<br/>
        - Click on an event to delete that event from the schedule. (scheduler permissions and editing an existing event hasn't been built yet.)</li><br/>

    <li><em><strong>Public Calendar</strong> is for use by client teams to determine presenter availability.</em><br/>
      - <strong>Anywhere</strong> shows how many presenters can be available nearly anywhere to conduct meetings that day.<br/>
        - Cities listed show places where a presenter can realistically <strong>only</strong> conduct meetings in or around that
            city on that day due to other calendar obligations and/or travel requirements.</li><br/>
      </ul>
</p>

{% endblock %}
