{% extends "base.html" %}

{% block title %}Events List{% endblock %}

{% block content %}
<h3>Meeting Info.</h3>
Client: {{ mrf.event }}<br/>
Date: {{ mrf.mtg_date }}<br/>
Status: {{ mrf.status }}<br/>
Presenter: {{ mrf.presenter }}<br/>
City, State: {{ mrf.city }}, {{ mrf.state }}<br/>
Time/Topic1: {{ mrf.mtg_time1 }} {{ mrf.mtg_topic1 }}<br/>
Time/Topic2: {{ mrf.mtg_time2 }} {{ mrf.mtg_topic2 }}<br/>
Notes: {{ mrf.notes }}<br/>
<p><br/>
<a href="{{ url_for('edit_form')}}?id={{ mrf.id }}">edit</a>*
  &nbsp;|&nbsp;
<a href="{{ url_for('delete_mtg')}}?id={{ mrf.id }}">delete</a>
</p>
*edit function is not built yet
{% endblock %}