{% extends "base.html" %}

{% block title %}Public Calendar{% endblock %}

{% block content %}
<div class="col-md-offset-1 col-md-10">

  <h3>{{ month_name[monthdates[3][3].month] }} {{ monthdates[3][3].year }} | Meeting Availability</h3>
  |&nbsp;
  {% for month in monthlinks %}
    <a href="{{ url_for('pubcal') }}/{{ month }}">{{ month_name[month.month] }}</a>&nbsp;&nbsp;|
  {% endfor %}
  <table class="table table-bordered">
    <tr style="font-weight: bold; background-color:LightSteelBlue">
    <td>Monday</td>
    <td>Tuesday</td>
    <td>Wednesday</td>
    <td>Thursday</td>
    <td>Friday</td>
  </tr>
    {% for week in monthdates %}
    <tr style="font-size:11px; background-color:rgba(240,220,180,0.5); height:70px">
      {% for day in week %}
      {% if day.weekday() != 5 and day.weekday() != 6 %}
        <td>
          <span style="font-weight:bold">{{ day.month}}/{{ day.day }}</span>
          {% if availability[day] > 0 %}
          &nbsp;<a href="{{ mrf_url }}">Request</a>
          {% endif %}<br/>
          {% if availability[day] <= 0 and not cities[day] %}
          No Availability
          {% else %}
          Anywhere: {{ availability[day] }}<br/>
          {% if cities[day] %}
            {% for city in cities[day] %}
              {{ city }}<br/>
            {% endfor %}
          {% endif %}
          {% endif %}
        </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}