{% extends "base.html" %}

{% block title %}Calendar Submission{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h3>Scheduler Notes</h3>
    {{ presenter }}

    {% from "_formhelpers.html" import render_field %}

    <form method="POST" action="{{ url_for('submitform') }}{% if lastdate %}/{{ lastdate }} {% endif %}" role="form">

      {{ form.hidden_tag() }}

      <input type="hidden" name="noteid" value="{{ request.args.get('noteid') }}">

      {{ render_field(form.presenter, class="form-control") }}
      {{ render_field(form.date, class="form-control") }}
      {{ render_field(form.notes, class="form-control") }}

    <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>
</div>
{% endblock %}