{% extends "base.html" %}

{% block title %}Weekly Calendar{% endblock %}

{% block content %}
<h3>{{ month_name[weekcal[6].month] }} | Presenter Schedule</h3>
|&nbsp;
{% for month in monthlinks %}
<a href="{{ url_for('wklyschedule') }}/{{ month }}">{{ month_name[month.month] }}</a>&nbsp;&nbsp;|
{% endfor %}
<p>
  <br/>
  |&nbsp;
{% for week in weeks %}
  <a href="{{ url_for('wklyschedule') }}/{{ week[1] }}">{{ week[1].month }}/{{ week[1].day }}</a>&nbsp;|
{% endfor %}
  &nbsp;&nbsp;
<a href="{{ url_for('wklyschedule') }}/{{ lastwk }}">Last Week</a>
&nbsp;&nbsp;
<a href="{{ url_for('wklyschedule') }}/{{ nextwk }}">Next Week</a>
</p>

<table class="table table-bordered">
  <tr style="font-weight: bold; background-color:LightSteelBlue">
    <td>{{ weekcal[3].year }}</td>
    <td>Sunday, {{ weekcal[0].month }}/{{ weekcal[0].day }}</td>
    <td>Monday,  {{ weekcal[1].month }}/{{ weekcal[1].day }}</td>
    <td>Tuesday,  {{ weekcal[2].month }}/{{ weekcal[2].day }}</td>
    <td>Wednesday,  {{ weekcal[3].month }}/{{ weekcal[3].day }}</td>
    <td>Thursday,  {{ weekcal[4].month }}/{{ weekcal[4].day }}</td>
    <td>Friday,  {{ weekcal[5].month }}/{{ weekcal[5].day }}</td>
    <td>Saturday,  {{ weekcal[6].month }}/{{ weekcal[6].day }}</td>
  </tr>
  {% for presenter in presenters %}
  <tr>
    <td style="font-weight: bold; background-color:LightBlue;">
      {{ presenter.name }}
    </td>
    {% for day in range(0, 7) %}
    {% set eventtoday = {'eventtoday' : False} %}
    {% if day == 6 or day == 0 %}
    <td style="font-size:11px; background-color:rgba(240,220,180,0.5)">
    {% else %}
    <td style="font-size:11px;">
    {% endif %}
      {% for mrf in mrfs %}
        {% if mrfs[mrf]['date'] == weekcal[day].strftime('%Y-%m-%d')
          and mrfs[mrf]['presenter1'] == presenter['name'] %}
          {{ mrfs[mrf]['clientname'] }}<br/>
          {{ mrfs[mrf]['city'] }}, {{ mrfs[mrf]['state'] }}<br/>
          {{ mrfs[mrf]['mtgtime1'] }} {{ mrfs[mrf]['mtgtopic1'] }}<br/>
          {{ mrfs[mrf]['mtgtime2'] }} {{ mrfs[mrf]['mtgtopic2'] }}<br/>
          {{ mrfs[mrf]['status'] }}
          {% if eventtoday.update({'eventtoday' : True}) %}{% endif %}
        {% endif %}
      {% endfor %}
      {% if eventtoday['eventtoday'] == false %}
      <a href="{{ url_for('submitform') }}?submitdate={{ weekcal[day] }}&presenter={{ presenter.name }}"
      style="padding:20px 10px; display:block; text-decoration:none;">
        &nbsp;
      </a>
      {% endif %}
    </td>
    {% endfor %}

  </tr>
  {% endfor %}
</table>
<p>
  <a href="{{ url_for('add_presenter') }}">Add Presenter</a>
</p>

{% endblock%}